*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Unbounded", sans-serif;
}

body{
  background-color: #111;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  /* background-color: rgb(170, 0, 0); */
  background-color: #fff;
  padding: 16px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-size: 30px;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 0 50px;
  text-transform: lowercase;
}

.menu__link {
  color: #111;
  text-decoration: none;
}

.teka {
  color: rgb(170, 0, 0);
}

/* MAIN, SLIDER STYLES */ 

.games-slider {
  padding-top: 40px;
}

.games-slider__covers{
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.games-slider__img {
  max-width: 950px;
  border-radius: 30px;
}

.games-slider__buttons {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.arrow-icon {
  background-color: #fff;
  width: 50px;
  padding: 10px 16px;
}

.games-slider__btn-left, 
.games-slider__btn-right {
  cursor: pointer;
}


