*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Unbounded", sans-serif;
}

body{
  background-color: #000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  /* background-color: rgb(170, 0, 0); */
  background-color: #fff;
  padding: 24px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-size: 30px;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 0 50px;
  text-transform: lowercase;
}

.menu__link {
  color: #111;
  text-decoration: none;
}

.teka {
  color: rgb(170, 0, 0);
}

.search-games {
  padding: 10px;
  outline: none;
}

/* MAIN, SLIDER STYLES */ 

.games-slider {
  padding-top: 40px;
}

.games-slider__covers{
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.games-slider__img {
  max-width: 950px;
  border-radius: 30px;
}

.games-slider__buttons {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.arrow-icon {
  background-color: #fff;
  width: 50px;
  padding: 10px 16px;
}

.games-slider__btn-left, 
.games-slider__btn-right {
  cursor: pointer;
}

/* INFINITE LOGO ANIMATION STYLES */

.ticker-section {
  margin-top: 140px;
  background-color: #000;
}

.ticker-statement {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 120px;
}

.logos {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow: hidden;
}

@keyframes game-studio-logos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:hover .logos__slide {
  animation-play-state: paused;
}

.logos__slide {
  white-space: nowrap;
  animation: 20s game-studio-logos infinite linear;
}

.alawar,
.nival,
.oovee,
.icepick,
.inkstains,
.sovietgames,
.perelesoq {
  height: 120px;
} 

