*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Unbounded", sans-serif;
}

body{
  background-color: #000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  /* background-color: rgb(170, 0, 0); */
  background-color: #fff;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 999;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-size: 2rem;
}

.menu__list {
  font-size: 1rem;
  list-style: none;
  display: flex;
  gap: 0 3rem;
  text-transform: lowercase;
}

.menu__link {
  color: #565656;
  text-decoration: none;
  position: relative;
  transition: .3s;
}

.menu__link:hover {
  color: #000;
}

.menu__link::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 0.2em;
  width: 0;
  left: 0;
  bottom: -0.4rem;
  transition: .3s;
}

.menu__link:hover:after {
  width: 100%;
}

.teka {
  color: rgb(170, 0, 0);
}

/* MAIN, SLIDER STYLES */ 

.games-slider {
  padding-top: 140px;
}

.games-slider__covers{
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.games-slider__img {
  max-width: 950px;
  border-radius: 30px;
}

.games-slider__buttons {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.arrow-icon {
  background-color: #fff;
  width: 50px;
  padding: 10px 16px;
}

.games-slider__btn-left, 
.games-slider__btn-right {
  cursor: pointer;
}

/* INFINITE LOGO ANIMATION STYLES */

.ticker-section {
  margin-top: 140px;
  background-color: #000;
}

.ticker-statement {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 120px;
}

.logos {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.logos__slide {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  animation-name: logo-slider;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logo-slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.alawar,
.nival,
.oovee,
.icepick,
.inkstains,
.sovietgames,
.perelesoq {
  max-height: 8rem;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  mix-blend-mode: color-burn;
} 

/* GAME-CARDS SECTION styles */

.game-cards {
  display: flex;
  justify-content: space-between;
}

.game-cards-section__inner {
  padding-top: 200px;
}

.game-cards__h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 60px;
}

.nash-a {
  color: rgb(8, 8, 255);
}

.nash-sh {
  color: rgb(170, 0, 0);
}

.game-card {
  max-width: 380px;
  cursor: pointer;
  color: #fff;
  border: 4px solid #fff;
}

.game-card__image {
  max-width: 380px;
  height: 340px;
  overflow: hidden;
  object-fit: cover;
  object-position: right;
}

.game-card__name {
  padding: 10px 14px;
  font-size: 22px;
}

.game-card__price {
  padding: 10px 14px;
} 

.game-card-price-number {
  color: rgb(250, 150, 0);
}

.show-more {
  width: 220px;
  padding-top: 40px;
  margin: 0 auto;
}

.show-more__button {
  width: 220px;
  background-color: #000;
  color: #fff;
  border: 1px solid rgb(170, 0, 0);
  text-transform: uppercase;
  padding: 20px 20px;
  cursor: pointer;
}

/* FOOTER styles */

.footer {
  margin-top: 80px;
  background-color: #fff;
  padding: 40px;
}

.footer-text {
  font-size: 16px;
  text-align: center;
}


/* RESPONSIVE DESIGN STYLES */

.burger {
  display: none;
  flex-direction: column;
  row-gap: 0.4em;
}

.burger__btn {
  background-color: #000;
  width: 2em;
  height: 0.2em;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
    cursor: pointer;
  }

  .menu {
    display: none;
  }
}